In [1]:
import os
from glob import glob

from bs4 import BeautifulSoup
from tqdm import tqdm

In [2]:
import pandas as pd
import re

In [3]:
data_path = '../Allin/data/*'
html_files = glob(data_path)
len(html_files)

107

In [4]:
html_files[0]

'../Allin/data/E84_ Markets update, crypto collapse, Russia_Ukraine endgame, state of the podcast - Transcripts.html'

In [5]:
arr = []
for file in tqdm(html_files):
    soup = BeautifulSoup(open(file,'r'), 'html.parser')
    
    speaker = []
    text = []
    timestamp = []
    episode = []

    for each in soup.find_all('div',attrs={'class':"transcript is-main"}):
        speaker.append(each.find('li', attrs={'class':'speaker'}).text)
        text.append(each.find('mark').text)
        timestamp.append(each.find('li', attrs={'class':'tg-caption', 'id':'playTranscript'}).text)
        episode.append(file)
    

    arr.append(pd.DataFrame({
            'time' : timestamp,
            'text' : text,
            'speaker' : speaker,
            'episode' : episode
        }))

100%|█████████████████████████████████████████| 107/107 [00:59<00:00,  1.81it/s]

In [6]:
data = pd.concat(arr).reset_index(drop=True)
data['episode'] = data['episode'].apply(lambda x : float(x.split('/')[-1].split('_')[0].replace('E','')))
data = data.sort_values(by=['episode','time'])
data

,time,text,speaker,episode
26890,00:00:00,"Hey everybody, welcome to the first episode of",Speaker 2,0.0
26891,00:00:03,the all in podcast,Speaker 1,0.0
26892,00:00:04,"with college and Jason Calacanis, that",Speaker 2,0.0
26893,00:00:09,calculator where we're trying to save ourselve...,Speaker 1,0.0
26894,00:00:15,"It is literally, you know, we thought we'd sta...",Speaker 2,0.0
...,...,...,...,...
15498,01:46:40,gonna be fun. I am the world's greatest modera...,Speaker 2,105.0
15499,01:46:49,"thanksgiving. True. One big,",Speaker 1,105.0
15500,01:47:24,huge George. Your,Speaker 2,105.0
15501,01:47:33,your,Speaker 3,105.0
15502,01:47:34,we need to get murky.,Speaker 2,105.0